.header {
    max-width: 1280px;
    padding: 0 5rem;
    margin: 0 auto;

    background-color: #ffce54;

    display: flex;
    align-items: center;
}

.header>.questionNumber {
    padding: 2rem
}

.header>.questionNumber>div {
    font-size: 1.5em;
    background-color: #da4453;
    width: 50px;
    height: 50px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
}

.header>.question {
    padding: 2rem
}

.header>.question>h6 {
    font-weight: 400;
    color: #b0acac;
}


.main {
    max-width: 1280px;
    padding: 0 5rem;
    margin: 0 auto;
}

.main>section {
    padding: 0 5rem;
    margin: 0 auto;
}

.main>section>button {
    background-color: #f0f0f0;
    border: 0;
    display: block;
    width: 100%;
    margin: 1rem;
    padding: 1rem 2rem;

    cursor: pointer;

    transition: filter 0.2s ease-in-out;

    text-align: left;
}

.main>section>button>span {
    font-size: 1.2rem;
}


.main>section>button>span:first-child {
    background: #ffce54;
    font-weight: 700;
    padding: 5px;
}

.finish {
    max-width: 1280px;
    padding: 0 5rem;
    margin: 0 auto;
}

.finish>button {
    margin-top: 1rem;
    border: 0;
    background: transparent;
    color: #da4453;
    cursor: pointer;
}

.finish>button:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .header {
        padding: 0 2rem;
        flex-direction: column;
    }

    .header>.question {
        padding: 1rem;
    }

    .header>.questionNumber {
        padding: 1rem;
    }

    .header>.questionNumber>div {
        font-size: 1.2rem;
        width: 40px;
        height: 40px;
    }

    .header>.question>h3 {
        font-size: 1.2em;   
        text-align: center;
    }

    .header>.question>h6 {
        margin-top: .5rem;
        margin-bottom: .5rem;
        text-align: center;
    }

    .main {
        padding: 0;
    }

    .main>section {
        padding: 0 1rem;
        margin: 0 auto;
    }

    .main>section>button {
        margin: 0;
        margin-top: .5rem;
        font-size: 1rem;
    }

    .main>div {
        display: flex;
        flex-direction: column;
    }

    .main>div>label {
        padding: 1rem;
        text-align: center;
    }

    .main>div>label>input {
        width: 10%;
    }

    .main>div>button {
        margin: 1rem 2rem;
    }

    .finish {
        padding: 0 2rem;

        text-align: center;
        /* margin-top: 3rem; */
    }
}